body{
    background-color: darkgrey;
}

p{
    font-size: 50px;
    color: blue;
    margin: 30;
    padding: 40;
}

h2{
    color: blue;
    margin: 30;
    padding: 40;
    font-size: 60px;
}